extends ./layout

block header


block body
  .container
    .row
      .jumbotron
        +header
      .col-md-8
        .row
          each article in articles
            .col-md-4.well
              h4 #{article.title}
              .text-right
                | #{article.preview}
              div #{article.content}
              .text-right
                a(href='/article/edit/#{article.id}') ||  Edit.   |
                a(href='/article/delete/#{article.id}') |   Delete.     |
                a(href='/article/view/#{article.id}') |    More...    ||
      .col-md-4.well
        .row
          +menu

block footer
  +footer()



