extends ../layout
block header
block body
  .container
    .row
      .jumbotron
        +header()
      .col-md-8.well
        if (categoryEdit)
          div Form to edit category:
            form(name='edit_category', method='post', action="/category/edit/#{categoryEdit.id}")
              if categoriesAll
                select(name='parentId')
                  option(value='')
                  each category, i in categoriesAll
                    option(value=category.id) #{category.name}
              div Category name :
                span.label :
                input(type='text', name='name', value='#{categoryEdit.name}')
              div
                | Description :
                textarea(name='description', cols='40', rows='3') #{categoryEdit.description}
              div
                button.btn.button(type='submit') Submit
        else
          div Form to ADD category:
            form(name='edit_category', method='post', action="/category/create")
              if categoriesAll
                select(name='parentId')
                  option(value='')
                  each category, i in categoriesAll
                    option(value=category.id) #{category.name}
              div Category name :
                span.label :
                input(type='text', name='name', value='')
              div
                | Description :
                textarea(name='description', cols='40', rows='3')

              button.btn.button(type='submit') Submit
      .col-md-4.well
        +menu
block footer
  +footer()
//
   Created by kirill on 6/22/15.

