extends ../layout
block header

block body
  .container
    .row
      .jumbotron
        +header()
      .col-md-8.well
        div Form to edit article:
          form(name='edit_article', method='post', action="/article/edit/#{article.id}", enctype='multipart/form-data')
            div Title :
              span.label :
              input(type='text', name='title', value='#{article.title}')
            div
              | Preview :
              textarea(name='preview', cols='40', rows='3') #{article.preview}
            div
              | Content :
              textarea(name='content', cols='40', rows='5') #{article.content}
            div(data-ng-controller='fileController')
              input(type='hidden', data-ng-model='fileType', value='cover')
              input(type='hidden', data-ng-model='covers', name='cover', value='')
              div(ngf-drop, ngf-select, ng-model="files", class="drop-box",
                ngf-drag-over-class="dragover", ngf-multiple="true", ngf-allow-dir="true",
                accept="image/*") Drop only 1 image here or click to upload
                ul
                  li(ng-repeat="f in files", style="font:smaller") {{f.name}}
              img(ngf-src="files[0]", ngf-default-src="'/thumb.jpg'", ngf-accept="'image/*'")

            div
              button.btn.button(type='submit') Submit
      .col-md-4.well
        +menu
block footer
  +footer()






