extends ../layout

block header
block body
  .container
    .row
      .jumbotron
        +header()
    .col-md-8.well
      div
        h2 #{article.title}
        img(src='#{article.cover.source}')
        .preview #{article.preview}
          hr
        .body #{article.content}
        .text-right
          a(href='/article/edit/#{article.id}') ||  Edit.   |
          a(href='/article/del/#{article.id}') |   Delete.     |
    .col-md-4.well
      .row
        +menu
block footer
  +footer()
